@import url('https://fonts.googleapis.com/css?family=VT323&display=swap');

body {
/*   padding-top: 4.5rem; */
/*   background-image:url(../img/starring.png); */
  background-position: fixed;
  font-family: 'VT323', monospace;
}
[v-cloak] {display: none}
.card {animation: fadein .5s}
.card-img-top {height: 300px; background-size: cover; background-position: center}
@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
.bg-dark {opacity: 0.9}
.progress-bar {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}
.jumbotron {
    background-size: cover;
    background-position: center;
}
.card-img-top .fa {
  text-shadow: 0 0 5px black;
}
#crafting .card-img-top {
  height: 150px;
}