<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>AutoStarr</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="css/bootstrap.css">

  <!-- Custom styles for this template -->
  <link href="css/heroic-features.css" rel="stylesheet">
  <link href="css/main.css" rel="stylesheet">
  <style type="text/css">
    [v-cloak] {display: none}
  </style>
</head>

<body>

  <div class="container" id="app" v-cloak>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">AutoStarr</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Scan
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Stats</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Inventory</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Crafting</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->

      <div class="card mb-4">
        <img class="card-img-top" :src="isLoading ? loadingImage : structureImage" id="jumbotron"/> 
        <div class="card-body">
          <h2 class="card-title">{{starsystem.name}}</h2>
          <p class="card-text">{{starsystem.description}}</p>
          <button class="btn btn-primary" id="scanner" v-on:click="scan">Scan Area &rarr;</button>
        </div>
        <div class="card-footer text-muted">
          Fuel: 
          <div class="progress">
            <div class="progress-bar bg-warning" role="progressbar" v-bind:style="{width: fuelLevel + '%'}" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" id="fuel-level"></div>
          </div>
        </div>
      </div>

      <!-- Page Features -->
      <div class="row text-center" id="cards">
        <div class="col-lg-3 col-md-6 mb-4">
          <div class="card h-100">
            <img :src="starsystem.image" class="card-img-top">
            <div class="card-body">
              <h4 class="card-title">{{starsystem.name}}</h4>
              <p class="card-text">The star {{starsystem.name}} has {{starsystem.planetTotal}} planet{{starsystem.planetTotal == 1 ? "" : "s"}}.</p>
            </div>
            <div class="card-footer">
              <button class="btn btn-primary" :data-starsystem-id="starsystem.id" @click="setOrbit(starsystem.id)">Orbit</button>
            </div>
          </div>
        </div>
        <div v-if="planet.scanned" v-for="planet in starsystem.planets" class="col-lg-3 col-md-6 mb-4">
          <div class="card h-100" :class="[ planet.id == currentOrbit ? 'border-primary' : '']">
            <img :src="planet.image" class="card-img-top">
            <div class="card-body">
              <h4 class="card-title">{{planet.name}}</h4>
              <p class="card-text">The planet {{planet.name}} has {{planet.moons}} moon{{planet.moons == 1 ? "" : "s"}} and has {{planet.size}} areas to explore and is {{planet.starDistance}} distance from you.</p>
            </div>
            <div class="card-footer">
              <button class="btn btn-primary" :data-planet-id="planet.id" @click="setOrbit(planet.id)">Orbit</button>
            </div>
          </div>
        </div>
      </div>
      <!-- /.row -->

    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <!--<p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p>-->
      </div>
      <!-- /.container -->
    </footer>
  </div>

  <!-- Bootstrap core JavaScript -->
  <script src="js/jquery.js"></script>
  <script src="js/bootstrap.js"></script>

  <!-- VueJS -->
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>

  <!-- AutoStarr -->
  <script src="js/StarSystem.js"></script>
  <script src="js/Planet.js"></script>
  <script src="js/SpaceShip.js"></script>
  <script src="js/Player.js"></script>
  <script src="js/Area.js"></script>
  <script src="js/main.js"></script>
  

</body>

</html>
