<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>AutoStarr | A Space Exploration Game</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="css/darkly.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.css" integrity="sha256-39jKbsb/ty7s7+4WzbtELS4vq9udJ+MDjGTD5mtxHZ0=" crossorigin="anonymous" />

    <!-- Custom styles for this template -->
    <link href="css/main.css" rel="stylesheet">
  </head>

  <body>

    <div id="app" v-cloak class="mb-5">
    
      <div class="container">
        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-dark">
          <div class="container">
            <a class="navbar-brand" href="#"><i class="fas fa-sun"></i> AutoStarr v.{{ version }}</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                  <a class="nav-link" href="#explore" @click="exploreScreen()" :class="autostarr.screens.exploreActive">Explore
                  </a>
                <li class="nav-item">
                  <a class="nav-link" href="#crafting" @click="craftingScreen()">Crafting
                  </a>
                </li>
                </li>
<!--                 <li class="nav-item">
                  <a class="nav-link" href="#player" @click="playerScreen()">Player
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#inventory" @click="inventoryScreen()">Inventory
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#spaceship" @click="spaceshipScreen()">Spaceship
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#rover" @click="roverScreen()">Rover
                  </a>
                </li> -->
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Options
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#reset" @click="hardReset()">Start New Game</a>    
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="https://github.com/zachdyer/autostarr">GitHub</a>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>

      <div class="container">
        <!-- Jumbotron -->
        <div class="row">
          <div class="mb-4 col-md-8">
            
            <div class="card" v-if="autostarr.screens.explore">
              <div class="card-img-top" :style="{backgroundImage : 'url('+$root.autostarr.explore.jumbotron.image+')'}">
                <div class="alert" role="alert">
                  <i class="fa fa-rocket mr-2" v-if="$root.autostarr.spaceship.address[2] === $root.autostarr.player.address[2]"></i> 
                  <i class="fa fa-truck-pickup mr-2" v-for="i in $root.autostarr.area.rovers"></i> 
                  <i class="fa fa-truck-pickup" v-if="$root.autostarr.player.rover"></i> 
                </div>
              </div> 
              <div class="card-body" v-if="!$root.isLoading">
                <div class="alert" :class="$root.autostarr.explore.alert.type" role="alert" v-if="$root.autostarr.explore.alert.message">
                  <i class="fas" :class="$root.autostarr.explore.alert.icon"></i> {{$root.autostarr.explore.alert.message}}
                </div>
                <div class="progress mb-3">
                  <div class="progress-bar progress-bar-striped progress-bar-animated" :class="$root.progress.type" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" :style="{width: $root.progress.percent +'%'}"></div>
                  </div>
                <div class="row">
                  <div class="col">
                    <h3 class="card-title">{{$root.autostarr.explore.jumbotron.title}}</h3>
                    <p class="card-text">{{$root.autostarr.explore.jumbotron.description}}</p>
                  </div>
                  <div class="col">
                    <div class="list-group mb-2" v-if="!$root.isLoading">
                      <button class="list-group-item list-group-item-action" v-on:click="$root.playerScan()" v-if="!$root.autostarr.player.ship && !$root.autostarr.player.isMoving" :disabled="$root.isgameover || $root.busy"><i class="fas fa-search"></i>  Scan Area</button>
                      <button class="list-group-item list-group-item-action" @click="$root.spaceshipEnter()" v-if="!$root.autostarr.player.ship && $root.autostarr.spaceship.address[2] === $root.autostarr.player.address[2] && !$root.autostarr.player.isMoving" :disabled="$root.autostarr.player.isMoving || $root.autostarr.player.scanner.scanning || $root.isgameover || $root.busy || $root.autostarr.player.rover"><i class="fas fa-door-open"></i> Board Spacecraft</button>
                      <button class="list-group-item list-group-item-action" :disabled="$root.busy || $root.isGameover" v-for="(rover, index) in autostarr.area.rovers" v-if="!autostarr.player.rover && !autostarr.player.ship && !autostarr.player.isMoving" @click="roverEnter(index)"><i class="fas fa-truck-pickup"></i> Enter {{rover.alias}}</button>
                      <button class="list-group-item list-group-item-action" @click="roverExit()" v-if="$root.autostarr.player.rover && !$root.autostarr.player.isMoving" :disabled="$root.busy || $root.isGameover"><i class="fas fa-truck-pickup"></i> Exit Rover</button>
                      <button class="list-group-item list-group-item-action" @click="$root.spaceshipScan()" :disabled="$root.autostarr.player.scanner.scanning || $root.isGameover" v-if="$root.autostarr.player.isOrbiting"><i class="fas fa-search"></i> Scan for planets</button>
                      <button class="list-group-item list-group-item-action" @click="$root.spaceshipTravelPlanet(autostarr.spaceship.travel.targetPlanet)" v-if="$root.autostarr.player.isOrbiting && autostarr.spaceship.travel.targetPlanet != autostarr.player.address[1]" :disable="autostarr.spaceship.isMoving || $root.isGameover">
                        <i class="fas fa-rocket"></i> Travel <span class="badge badge-warning">{{Math.abs(( autostarr.starsystem.planets[autostarr.spaceship.travel.targetPlanet].starDistance - autostarr.player.starDistance)/1000).toFixed(1)}} <i class="fas fa-gas-pump"></i></span>
                      </button>
                      <button class="list-group-item list-group-item-action" @click="$root.spaceshipTravelStar(-1)" v-if="$root.autostarr.player.isOrbiting" :disabled="$root.autostarr.spaceship.isMoving || $root.isGameover || $root.autostarr.spaceship.fuel.antimatter.amount < 50">
                        <i class="fas fa-rocket"></i> Travel to the {{$root.starNeighborName(-1)}} Star System
                      </button>
                      <button class="list-group-item list-group-item-action" @click="$root.spaceshipTravelStar(1)" v-if="$root.autostarr.player.isOrbiting" :disabled="$root.autostarr.spaceship.isMoving || $root.isGameover || $root.autostarr.spaceship.fuel.antimatter.amount < 50">
                        <i class="fas fa-rocket"></i> Travel to the {{$root.starNeighborName(1)}} Star System
                      </button>
                      <button class="list-group-item list-group-item-action" @click="$root.spaceshipExit()" v-if="$root.autostarr.player.ship && $root.autostarr.player.isLanded"><i class="fas fa-door-open"></i> Exit Ship</button>
                      <button class="list-group-item list-group-item-action" @click="$root.spaceshipLaunch()" v-if="$root.autostarr.player.ship && $root.autostarr.player.isLanded" :disabled="$root.busy || $root.isGameover"><i class="fas fa-rocket"></i> Launch</button>
                      <button class="list-group-item list-group-item-action" @click="$root.spaceshipLand()" v-if="$root.autostarr.player.isOrbiting" :disabled="$root.isGameover"><i class="fas fa-rocket"></i> Land</button>
                      <button class="list-group-item list-group-item-action" v-on:click="$root.playerExplore(-1)" :disabled="$root.autostarr.player.scanner.scanning || $root.autostarr.player.isMoving || $root.isGameover" v-if="!$root.autostarr.player.ship && !$root.autostarr.player.isMoving && !autostarr.player.rover"><i class="fas fa-hiking"></i> Walk to Left Area </button>
                      <button class="list-group-item list-group-item-action" @click="$root.playerExplore(1)" :disabled="$root.autostarr.player.isMoving || $root.autostarr.player.scanner.scanning || $root.isGameover" v-if="!$root.autostarr.player.ship && !$root.autostarr.player.isMoving && !autostarr.player.rover"><i class="fas fa-hiking "></i> Walk to Right Area</button>
                      <button class="list-group-item list-group-item-action" v-on:click="$root.roverExplore(-1)" :disabled="$root.autostarr.player.scanner.scanning || $root.autostarr.player.isMoving || $root.isGameover" v-if="!$root.autostarr.player.ship && !$root.autostarr.player.isMoving && autostarr.player.rover"><i class="fas fa-truck-pickup"></i> Drive to Left Area </button>
                      <button class="list-group-item list-group-item-action" @click="$root.roverExplore(1)" :disabled="$root.autostarr.player.isMoving || $root.autostarr.player.scanner.scanning || $root.isGameover" v-if="!$root.autostarr.player.ship && !$root.autostarr.player.isMoving && autostarr.player.rover"><i class="fas fa-truck-pickup "></i> Drive to Right Area</button>
                      <button class="list-group-item list-group-item-danger" @click="$root.hardReset()" v-if="$root.isGameover"><i class="fas fa-power-off"></i> Reset</button>
                    </div>
                  </div>
                </div>
              </div>
            </div><!--/.card-->
            
            <div v-if="autostarr.screens.crafting" id="crafting">
              <h2><i class="fa fa-drafting-compass"></i> Crafting</h2>
              <div class="alert" :class="crafting.alert.type" v-if="crafting.alert.message"><i class="fa" :class="crafting.alert.icon" v-if="crafting.alert.icon"></i> {{crafting.alert.message}}</div>
              <div class="row row-cols-1 row-cols-md-3">
                <div class="col-md-4 mb-4" v-for="recipe in crafting.recipes">
                  <div class="card h-100">
                    <div class="card-img-top" :style="{backgroundImage: `url(${recipe.image})`}" alt="Card image cap"></div>
                    <div class="card-body">
                      <h5 class="card-title"><i class="fa" :class="recipe.icon"></i> {{recipe.name}}</h5>
                      <p class="card-text">{{recipe.desc}}</p>
                    </div>
                    <ul class="list-group list-group-flush">
                      <button type="button" class="list-group-item list-group-item-action" @click="craftingCraft(recipe.item, ingredient)" :disabled="isGameover" v-for="ingredient in recipe.ingredients">
                        <h6 class="mb-0"><i class="fas" :class="ingredient.icon"></i> {{ingredient.name}} {{ingredient.amount}} / {{ingredient.cost}}</h6>
                        <div class="progress">
                          <div class="progress-bar progress-bar-striped" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" :style="{width: (ingredient.amount/ingredient.cost)*100 +'%'}"></div>
                        </div>
                      </button>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            
          </div>

          <!-- Controls -->
          <div class="col-md-4 mb-5">
            
            <!-- Inventory section -->
            <div class="card mb-3">
              <h5 class="card-header"><i class="fas fa-user-astronaut"></i> Player</h5>
              <div class="list-group list-group-flush">
                <li class="list-group-item">
                  <h6 class="mb-1"><i class="fas fa-bolt"></i> Energy <span class="badge float-right">{{autostarr.player.energy.amount.toFixed()}}/{{autostarr.player.energy.max}}</span></h6>
                  <div class="progress">
                    <div class="progress-bar bg-warning"  aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" :style="{width: (autostarr.player.energy.amount/autostarr.player.energy.max)*100 +'%'}"></div>
                  </div>
                </li>
                <li class="list-group-item">
                  <h6 class="mb-1"><i class="fas fa-box"></i> Storage <span class="badge float-right">{{autostarr.player.storage.amount.toFixed()}}/{{autostarr.player.storage.max}}</span></h6>
                  <div class="progress">
                    <div class="progress-bar bg-primary" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" :style="{width: (autostarr.player.storage.amount/autostarr.player.storage.max)*100 +'%'}"></div>
                  </div>
                </li>
                <li class="list-group-item" v-for="inventory in autostarr.player.inventory" v-if="inventory.amount">
                  <h6 class="mb-1"><i class="fas" :class="inventory.icon"></i> {{inventory.name}} 
                    <span class="badge badge-light float-right ml-2">{{inventory.amount}}</span>
                    <i class="fas fa-trash float-right ml-2" @click="inventoryTrash(inventory.item, 'player')" :disabled="isGameover"></i>
                    <i class="fas fa-truck-pickup float-right ml-2" @click="inventoryMove(inventory.item,'player','rover')" :disabled="isGameover" v-if="autostarr.player.rover"></i>
                    <i class="fas fa-rocket float-right ml-2" @click="inventoryMove(inventory.item,'player','spaceship')" :disabled="isGameover" v-if="autostarr.player.ship"></i>
                    <i class="fas fa-tools float-right ml-2" @click="$root[inventory.install]('player')" :disabled="isGameover" v-if="inventory.install"></i>
                  </h6>
                </li> 
              </div>
            </div>
            
            <div v-if="autostarr.rover" class="card mb-3">
              <h5 class="card-header"><i class="fas fa-truck-pickup"></i> Rover</h5>
              <div class="list-group list-group-flush">
                <li class="list-group-item">
                  <h6 class="mb-1"><i class="fas fa-gas-pump"></i> Fuel <span class="badge float-right">{{autostarr.rover.fuel.amount.toFixed()}}/{{autostarr.rover.fuel.max}}</span></h6>
                  <div class="progress">
                    <div class="progress-bar bg-danger" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" :style="{width: (autostarr.rover.fuel.amount/autostarr.rover.fuel.max)*100 +'%'}"></div>
                  </div>
                </li>
                <li class="list-group-item">
                  <h6 class="mb-1"><i class="fas fa-box"></i> Storage <span class="badge float-right">{{autostarr.rover.storage.amount.toFixed()}}/{{autostarr.rover.storage.max}}</span></h6>
                  <div class="progress">
                    <div class="progress-bar bg-primary" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" :style="{width: (autostarr.rover.storage.amount/autostarr.rover.storage.max)*100 +'%'}"></div>
                  </div>
                </li>
                <li class="list-group-item" v-for="inventory in autostarr.rover.inventory" v-if="inventory.amount">
                  <h6 class="mb-1"><i class="fas" :class="inventory.icon"></i> {{inventory.name}}   
                    <span class="badge float-right badge-light ml-2">{{inventory.amount}}</span>
                    <i class="fas fa-trash float-right ml-2" @click="inventoryTrash(inventory.item)" :disabled="isGameover"></i>
                    <i class="fas fa-user-astronaut float-right ml-2" @click="inventoryMove(inventory.item,'rover','player')" :disabled="isGameover"></i>
                    <i class="fas fa-tools float-right ml-2" @click="$root[inventory.install]('rover')" :disabled="isGameover" v-if="inventory.install"></i>
                  </h6>
                </li>
              </div>
            </div>
            
            <div v-if="autostarr.player.ship" class="card mb-3">
              <h5 class="card-header"><i class="fas fa-rocket"></i> Spaceship</h5>
              <div class="list-group list-group-flush">
                <li class="list-group-item">
                  <h6 class="mb-1"><i class="fas fa-gas-pump"></i> Fuel <span class="badge float-right">{{autostarr.spaceship.fuel.amount.toFixed()}}/{{autostarr.spaceship.fuel.max}}</span></h6>
                  <div class="progress">
                    <div class="progress-bar bg-danger" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" :style="{width: (autostarr.spaceship.fuel.amount/autostarr.spaceship.fuel.max)*100 +'%'}"></div>
                  </div>
                </li>
                <li class="list-group-item">
                  <h6 class="mb-1"><i class="fas fa-gas-pump"></i> Anti-matter Fuel <span class="badge float-right">{{autostarr.spaceship.fuel.antimatter.amount.toFixed()}}/{{autostarr.spaceship.fuel.antimatter.max}}</span></h6>
                  <div class="progress">
                    <div class="progress-bar bg-info" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" :style="{width: (autostarr.spaceship.fuel.antimatter.amount/autostarr.spaceship.fuel.antimatter.max)*100 +'%'}"></div>
                  </div>
                </li>
                <li class="list-group-item">
                  <h6 class="mb-1"><i class="fas fa-box"></i> Storage <span class="badge float-right">{{autostarr.spaceship.storage.amount.toFixed()}}/{{autostarr.spaceship.storage.max}}</span></h6>
                  <div class="progress">
                    <div class="progress-bar bg-primary" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" :style="{width: (autostarr.spaceship.storage.amount/autostarr.spaceship.storage.max)*100 +'%'}"></div>
                  </div>
                </li>
                <li class="list-group-item" v-for="inventory in autostarr.spaceship.inventory" v-if="inventory.amount" >
                  <h6 class="mb-1"><i class="fas" :class="inventory.icon"></i> {{inventory.name}} 
                    <span class="badge float-right badge-light ml-2">{{inventory.amount.toFixed()}}</span>
                    
                    <i class="fas fa-trash float-right ml-2" @click="inventoryTrash(inventory.item, 'spaceship')" :disabled="isGameover"></i>
                    <i class="fas fa-user-astronaut float-right ml-2" @click="inventoryMove(inventory.item,'spaceship','player')" :disabled="isGameover"></i>
                    <i class="fas fa-tools float-right ml-2" @click="$root[inventory.install]('spaceship')" :disabled="isGameover" v-if="inventory.install"></i>
                  </h6>
                </li>
              </div>
            </div>
            
            <div class="card">
              <h5 class="card-header"><i class="fa fa-globe"></i> Planets</h5>
              <div class="list-group list-group-flush">
                <button @click="selectAstroObject(vuePlanet.id)" class="list-group-item list-group-item-action" :class="[vuePlanet.id === autostarr.player.address[1] ? 'active' : '']" v-if="vuePlanet.scanned" v-for="vuePlanet in autostarr.starsystem.planets" role="button" type="button" style="cursor: pointer"><i class="fas" :class="vuePlanet.icon"></i> <i class="fas fa-map-marker" v-if="vuePlanet.id == autostarr.player.address[1]"></i> {{vuePlanet.name}} 
                  <span class="badge badge-warning float-right">{{Math.abs((vuePlanet.starDistance - autostarr.player.starDistance)/1000).toFixed(1)}} <i class="fas fa-gas-pump"></i></span>
                </button>
              </div>
            </div>
            
            <div v-if="autostarr.area.scanned && !autostarr.player.ship" class="card mb-3">
              <h5 class="card-header">Natural Resources</h5>
              <div class="list-group list-group-flush">
                <button type="button" class="list-group-item list-group-item-action"  @click="mine(resource)" :disabled="isGameover" v-for="resource in autostarr.area.resources" v-if="autostarr.area.scanned && !autostarr.player.isMoving && !autostarr.player.ship && autostarr.area.resources[resource.item].amount">
                    <h6 class="mb-0"><i class="fas" :class="resource.icon"></i> Mine {{resource.alias}} {{autostarr.area.resources[resource.item].amount.toFixed()}} / {{autostarr.area.resources[resource.item].max}}</h6>
                    <div class="progress">
                      <div class="progress-bar progress-bar-striped" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" :style="{width: (autostarr.area.resources[resource.item].amount/autostarr.area.resources[resource.item].max)*100 +'%'}"></div>
                    </div>
                </button>
              </div>
            </div>
          </div>

        </div>
        <!-- /.row -->
        <!-- Footer -->
        <footer class="pt-2 pb-3 bg-dark fixed-bottom">
          <div class="container">
            <div class="row">
              <div class="col">
                <h6 class="text-white my-0"><i class="fas fa-bolt"></i> {{autostarr.player.energy.amount.toFixed()}} / {{autostarr.player.energy.max}}</h6>
                <div class="progress">
                  <div class="progress-bar bg-warning" v-bind:style="{width: ((autostarr.player.energy.amount / autostarr.player.energy.max) * 100) + '%'}" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" id="fuel-level"></div>
                </div>
              </div>
              <div class="col">
                <h6 class="text-white my-0"><i class="fas fa-gas-pump"></i> {{autostarr.spaceship.fuel.amount.toFixed()}} / {{autostarr.spaceship.fuel.max}}</h6>
                <div class="progress">
                  <div class="progress-bar bg-danger" v-bind:style="{width: ((autostarr.spaceship.fuel.amount / autostarr.spaceship.fuel.max) * 100) + '%'}" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" ></div>
                </div>
              </div>
              <div class="col" v-if="autostarr.rover">
                <h6 class="text-white my-0"><i class="fas fa-truck-pickup"></i> {{autostarr.rover.fuel.amount.toFixed()}} / {{autostarr.rover.fuel.max}}</h6>
                <div class="progress">
                  <div class="progress-bar bg-danger" v-bind:style="{width: ((autostarr.rover.fuel.amount / autostarr.rover.fuel.max) * 100) + '%'}" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
            </div>
          </div>
          <!-- /.container -->
        </footer>
        <!-- /.container -->
      </div>
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.js"></script>

    <!-- VueJS -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <!-- AutoStarr -->
    <script src="js/autostarr.js"></script>
    <script src="js/progress.js"></script>
    <script src="js/inventory.js"></script>
    <script src="js/player.js"></script>
    <script src="js/Math.js"></script>
    <script src="js/StarSystem.js"></script>
    <script src="js/Star.js"></script>
    <script src="js/Planet.js"></script>
    <script src="js/spaceship.js"></script>
    <script src="js/rover.js"></script>
    <script src="js/crafting.js"></script>
    <script src="js/Area.js"></script>
    <script src="js/explore.js"></script>
    <script src="js/main.js"></script>
    


  </body>

</html>
